@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */

:root {
  --primary-color: #14c5dd;
  --text-color: #848e9f;
  --dark-color: #1d2a4d;
  --light-color: #fff;
}

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: #f2f2f2;
  line-height: 1.6;
  color: var(--dark-color);
}

ul {
  list-style: none;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Header */

.header {
  font-size: 1.2rem;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  opacity: 0.6;
}

.header .flex {
  justify-content: space-between;
}

.socials i {
  margin: 0 5px;
}

/* Navbar */

.navbar {
  padding: 20px;
}

.navbar h1 {
  text-transform: uppercase;
  color: var(--primary-color);
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar a {
  padding: 10px;
  margin: 0 7px;
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  transition: all 0.2s ease-in;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */

.showcase {
  font-family: 'Roboto', sans-serif;
  height: 550px;
  background: url('../img/hero.jpg') no-repeat center top/cover;
  color: #fff;
}

.showcase .grid {
  grid-template-columns: 3fr 1fr;
}

.sub-text {
  color: var(--primary-color);
  text-transform: uppercase;
  border-bottom: 4px solid #ddd;
  width: fit-content;
  line-height: 1.8;
}

.showcase-text h1 {
  font-size: calc(1.625rem + 3.5vw);
  font-weight: 700;
  line-height: 1.2;
}

/* About */

.about {
  line-height: 1.7;
}

.about .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.about img {
  width: 500px;
  height: 100%;
  border-radius: 10px;
}

.about .sub-text {
  width: fit-content;
}

.about-boxes {
  justify-content: space-around;
}

.box {
  background-color: #eae7e7;
  color: var(--primary-color);
  padding: 20px 40px;
  border-radius: 50%;
  text-align: center;
}

.box i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.box h4 {
  color: var(--dark-color);
}

/* Services */

.card {
  background-color: #dbe1e5;
  padding: 50px 20px;
  border-radius: 5px;
  text-align: center;
}

.card i {
  color: var(--light-color);
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 50%;
  transform: rotate(14deg);
}

.card-text {
  color: #666;
}

/* Appointment */

.appointment h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 45px;
  color: var(--dark-color);
  line-height: 1.2;
}

.appointment .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.appointment form {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.appointment form .row .form-control input[type='text'],
.appointment form .row .form-control input[type='email'],
.appointment form .row .form-control input[type='date'],
.appointment form .row .form-control input[type='time'],
.appointment form .row .form-control select {
  padding: 4px;
  flex-basis: 50%;
  margin: 5px;
}

.appointment form h2 {
  color: var(--dark-color);
}

/* Doctors */

.doctor-profiles__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.doctor-profiles__container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cfdee8;
  border-radius: 10px;
}

.doctor-profiles__container img {
  width: 50%;
  object-fit: cover;
  margin-right: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.doctor-profiles__container .social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 4px;
}

.doctor-profiles__container .social-icons li i {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}
