/* Base styles */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: auto;
}

.text-center {
  text-align: center;
}

/* Heading Styles */

.heading-title {
  font-size: 3rem;
  color: #000;
}

.heading-text {
  color: #777;
  margin-bottom: 20px;
  line-height: 1.4;
}

/* Buttons */

.btn {
  display: inline-block;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 50px;
  padding: 15px 40px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/* Margins */

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/* Backgrounds */

.bg-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.bg-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.bg-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Heading styles */

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 30px;
}

.heading-uppertext {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 4px solid #ddd;
  width: fit-content;
}

.heading-title {
  font-size: 45px;
  font-weight: 700;
  color: var(--dark-color);
  letter-spacing: -2px;
}

/* Flex & Grid */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Text colors & sizes */

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}
